.cardsContainer {
  display: flex;
    flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  padding: 16px;}

.exerciseCard {

    border-width: 3px;
    border-style: solid;
    border-color: #4cae4f;

    padding: 5px;
    border-radius: 10px;
    width: 200px;


}