.interactiveTextContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.wordWrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 3rem;
    line-height: 2.2;
    font-family: "Noto Sans Arabic", serif;

}

.highlightableWord {
    transition: all 0.2s;
    border-bottom: 2px dotted #9ca3af;
    padding: 0 2px;
    cursor: pointer;
}

.highlightableWord:hover {
    color: #2563eb;

}



.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 75%;
    left: 50%;
    transform: translateX(-50%);

    width: max-content;
    min-width: 120px;
    max-width: 200px;

    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    z-index: 50;

    transition: opacity 0.2s ease-in-out, transform 0.2s;

    direction: ltr;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    line-height: 1.4;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
}

.wordWrapper:hover .tooltip {
    visibility: visible;
    opacity: 1;
    bottom: 75%;
}

.tooltipHeader {
    font-weight: 700;
    margin-bottom: 4px;
    color: #111827;
}


.arabicLemma {
    font-family: "Noto Sans Arabic", serif;
    font-weight: normal;

}

.tooltipLemma {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    gap : 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.addBtn {
    width: 100%;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: #f3f4f6;
    color: #374151;
    font-size: 0.75rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.addBtn:hover {
    background-color: #d1d5db;
}

.addBtn.added {
    background-color: #dcfce7;
    color: #166534;
}