#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: green;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#root > div {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

body {
    background-color: #f0f0f0;
}
