.progressBarContainer {
    width: 100%;
    max-width: 1260px;
    background-color: #e5e7eb;
    border-radius: 9999px;
    height: 1rem;
}

.progressBarFill {
    background-color: #2563eb;
    height: 1rem;
    border-radius: 9999px;
    transition: all 0.5s ease-in-out;

}