
.taskContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;

    /*border: 2px solid #4cae4f;*/
    /*border-radius: 15px;*/
    /*background-color: #f9f9f9;*/
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/

    max-width: 600px;
    width: 100%;
}



.buttonsContainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;


}

.answerButton {

  /*  height: 40px;*/
  /*  line-height: 40px;*/
  /*  width: 200px;*/
  /*  font-weight: bold;*/
  /*  cursor: pointer;*/
  /*  transition: all 0.1s ease-in-out;*/
  /*  font-size: 18px;*/
  /*  border-radius: 10px;*/

  /*border: #4cae4f solid 1px;*/


    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    width: 120px;
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: #e6e6e6;

    color: #4cae4f;

    font-weight: bold;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-size: 18px;
    border-radius: 10px;
    border: 3px solid;

    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.12);

}

.answerButton:hover {
    background-color: #d4d4d4;
}

.answerButton:active {
    box-shadow: none;
    transform: translateY(3px);
}

.selected {

    background-color: #4cae4f;
    color: whitesmoke;

}

.selected:hover {
    background-color: #45a049;
}

.checkButtonContainer {

    margin-top: 30px;

}


.checkButton:disabled {
    background-color: #cccccc;
    border-color: #bbbbbb;
    box-shadow: none;
    color: #666666;
    cursor: not-allowed;
}

.checkButton:disabled:hover {
    background-color: #cccccc;
}

.checkButton {

    composes: answerButton;

    width: 150px;

    background-color: #008CBA;
    border-color: #008CBA90;
    box-shadow: 0 3px 0 0 #008CBA90;
    color: whitesmoke;

}

.checkButton:hover {
    background-color: #007bb5;
}