.infoBoxSmall {
    font-size: 0.85rem;
    padding: 8px;
}

.compendiumSection {

    padding: 20px;
    background-color: #fcfcfc;
    border: 1px solid #e5e7eb;
    border-top: none;
    border-radius: 0 0 12px 12px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.entryHeader {

    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;


}